<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="container">
        <h1>The Breast Cancer is Benign </h1>
        <img src="../static/css/images/benign.png">
        <p>Benign breast cancer, often referred to as benign breast disease, encompasses a range of non-cancerous conditions affecting the breast, such as fibroadenomas, cysts, and fibrocystic changes. While not malignant, these conditions can still cause discomfort, pain, or changes in breast tissue that may require medical attention and monitoring.</p>
        <p>Learn more on <a href="https://www.nejm.org/doi/full/10.1056/NEJMoa044383#:~:text=Benign%20breast%20disease%20is%20an%20important%20risk%20factor,for%20women%20who%20receive%20this%20diagnosis%20is%20imperative." target="_blank">Wikipedia</a>.</p>
        <div class="video-container">
            <iframe width="420" height="345" src="https://www.youtube.com/embed/jr4xMzuIWwY">
            </iframe>
        </div>
    </div>
</body>
</html>
