<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="container">

        <h1>Diabetes</h1>
        <!-- <img src="download.jpg"> -->
        <p>
            Diabetes is a chronic condition characterized by high levels of glucose (sugar) in the blood. It occurs when the body either doesn't produce enough insulin (a hormone that regulates blood sugar) or cannot effectively use the insulin it produces. There are primarily three types of diabetes:Type1,Type2,Gestational.</p>
        <p>Learn more on <a href="https://en.wikipedia.org/wiki/Diabetes" target="_blank">Wikipedia</a>.</p>
        <div class="video-container">
            <iframe width="420" height="345" src="https://www.youtube.com/embed/XfyGv-xwjlI">
            </iframe>
        </div>
    </div>
</body>
</html>
