<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="container">
        <h1>Signifies likelihood of Heart Disease/Cardiovascular Disease</h1>
        <!-- <img src="../static/css/images/heart.png"> -->
        <p>Cardiovascular disease (CVD) is any disease involving the heart or blood vessels.[3] CVDs constitute a class of diseases that includes: coronary artery diseases (e.g. angina, heart attack), heart failure, hypertensive heart disease, rheumatic heart disease, cardiomyopathy, arrhythmia, congenital heart disease, valvular heart disease, carditis, aortic aneurysms, peripheral artery disease, thromboembolic disease, and venous thrombosis</p>
        <p>Learn more on <a href="https://en.wikipedia.org/wiki/Cardiovascular_disease" target="_blank">Wikipedia</a>.</p>
        <div class="video-container">
            <iframe width="420" height="345" src="https://www.youtube.com/embed/lTCF8y7e1Bw">
            </iframe>
        </div>
    </div>
</body>
</html>
