<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kidney Disease</h1>
        <img src="heart.jpg">
        <p>Kidney disease, also known as renal disease or nephropathy, is damage to the kidneys that prevents them from filtering blood properly. There are several types of kidney disease, including nephritis, which is an inflammatory disease, and nephrosis, which is non-inflammatory</p>
        <p>Learn more on <a href="https://en.wikipedia.org/wiki/Kidney_disease" target="_blank">Wikipedia</a>.</p>
        <div class="video-container">
            <iframe width="420" height="345" src="https://www.youtube.com/watch?v=G3_iuZTgKoQ">
            </iframe>
        </div>
    </div>
</body>
</html>