<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="container">
        <h1>The Breast Cancer is Malignant</h1>
        <img src="../static/css/images/malignant.png">
        <p>Malignant breast cancer is a serious condition characterized by the uncontrolled growth of abnormal cells in the breast tissue. Prompt diagnosis and treatment are crucial for managing the disease and improving outcomes.</p>
        <p>Learn more on <a href="https://en.wikipedia.org/wiki/Breast_cancer" target="_blank">Cancer.gov</a>.</p>
        <div class="video-container">
            <iframe width="420" height="345" src="https://www.youtube.com/embed/yZ1AEQBweDQ">
            </iframe>
        </div>
    </div>
</body>
</html>
